[submodule "Random Airdrops"]
	path = Random Airdrops
	url = https://github.com/LeandroTheDev/random_airdrops.git
[submodule "RA Smoke Flares"]
	path = RA Smoke Flares
	url = https://github.com/LeandroTheDev/ra_smoke_flares
[submodule "Factions Weapons"]
	path = Factions Weapons
	url = https://github.com/LeandroTheDev/factions_weapons
[submodule "Random Hordes"]
	path = Random Hordes
	url = https://github.com/LeandroTheDev/random_hordes
[submodule "No Pain No Gain"]
	path = No Pain No Gain
	url = https://github.com/LeandroTheDev/no_pain_no_game